.flash-box
.wrapper
  
  .chat-side
    
    .side-header
    
      %p.side-header__user-name test-user
          
      %ul.side-header__user-menu
        

        -# %li.side-header__edit-user<名前変更ボタン>

        -# %li.side-header__edit-user<設定ボタン>

    .groups
      %a{ :href => "グループリンク1"}
        .group
          %p.group__group-name group1
          %p.group__last-message 1111
      %a{ :href => "グループリンク2"}  
        .group
          %p.group__group-name group2
          %p.group__last-message 1234
      %a{ :href => "グループリンク3"}    
        .group
          %p.group__group-name group3
          %p.group__last-message 2222
  
  .chat-main

    .main-header

      .current-group{ :data_group_id => "1300"}
        %h2{ :class => "current-group_name"}
          %ul{ :class => "member-list"}
            %p member:
            %li{ :class => "member-list__member"}
              %p test-user
      %a{ :href => "Editリンク"}
        .main-header{ :class => "main-header__edit-btn"}
          %p EDIT
        

      .message

    .messages

    %form{ :class => "new-message", :id => "new_message", :method => "post", :action => "/", :enctype => "multipart/form-data", :accept_charset => "UTF-8"}
      %input{ :name => "utf8", :type => "hidden", :value => ""}
      %input{ :type => "hidden", :name => "authenticity_token", :value => ""}
      .input-box
        %input{ :placeholder => "type a message", :class => "input-box__text", :type => "text", :name => "message[content]", :id => "message_content"}
      
        %label{ :class => "image-label", :for => "message_image"}
          
          %i{ :class =>"fa fa-image"} ::before

          %input{ :class =>"image-label__input", :type => "file", :name => "message[image]", :id => "message_image"}

          %input{ :class => "new-message__submit-btn", :type => "submit", :name => "commit", :value => "Send", :"data-disable-with" => "Send"}



%iframe{ :id => "blockbyte-bs-sidebar", :class => "notranslate", :"data-pos" => "left"}
  %html{ :dir => "Itr"}
    %head
      %link(rel = "stylesheet" type = "text/css" href = "不明なフォント")
      %style{ :class => "blockbyte-bs-style"}
    %body{ :class => "loaded"}
      
          
          

  
.blocktype-bs-indicater