@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

$width: 300px;

$height_side_header: 100px;

$width2: 110px;

* {
  box-sizing: border-box;
}

.flash-box {

}
.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;

  .chat-side{
    float: left;
    background-color: #2f3e51;
    width: $width;
    height: 100%;
    
    .side-header {
      height: 100px;
      display: flex;
      width: 100%;
      background-color: #253141;
      justify-content:  space-between;
      padding: 0 20px;
      font-weight: bold;
      align-items: center;
      
      .side-header__user-name {
        

        .side-header__user-menu {
          display: flex;
        }
      }
    }
    .groups {
      height: calc(100% - #{$height_side_header});
      padding: 20px 20px 0;
      overflow: scroll;
      background-color: #2f3e51;
      a {
        color: white;
        .group {
          margin-bottom: 40px;
          .group__group-name {
            font-size: 15px;
            margin-bottom: 5px;
          }
        }
      }
    }
    
  }

  .chat-main {
    float: left;
    width: calc( 100vw - #{$width});
    
    .main-header {
      height: 100px;
      padding: 0 40px;
      border-bottom: solid 1px gray;
      display: flex;

      .current-group {
        font-size: 20px;
        color: #333;
        margin-top: 35px;

        .current-group_name {
          font-size: 100%;
          font-weight: normal;

        .member-list {
          display: flex;
          margin-top: 15px;
          font-size: 12px;
          color: #999999;
        }
        }
      }

    }

    .messages {
      padding: 46px 40px;
      background-color: #fafafa;
      height: calc( 100vh - 190px);
      overflow: scroll;

      .message {
        padding-bottom: 40px;

        .upper-info {
          display: flex;
          margin-bottom: 10px;
          
          .upper-info__user {
            font-size: 16px;
            font-weight: bold;
            color: #434a54;
          }

          .upper-info__date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }

        .message__text {
          font-size: 14px;
          margin-bottom: 10px;
          color: #434a54;

          
        }
       
      }
    }

    .form {
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd;

      .new-message {
        
        display: flex;
        height: 90px;
      }

        .input-box {
          position: relative;
          width: 100%;
          float: left;
        


          .input-box__text {
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: #434a54;
            border-style: none;
            width: calc(100% - #{$height_side_header});
            float: left;
          }

          .image-label {
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 102px;
            cursor: pointer;
            border: black solid 1px;
            width: 30px;
            height: 38px;
          
            .fa {
              display: inline-block;
              text-rendering: auto;
              font: normal normal normal 14px/1  FontAwesome;
              -webkit-font-smoothing: antialiased;
              text-rendering: auto;
              font-size: inherit;
            }
            // 上のfa にfontawesome 

            .image-label__input {
              height: 30px;
              width: 38px;
            }
          }
        .new-message__submit-btn {
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color: #38aef0;
        }
      }

    }

  }
}